<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <title>AngularJS date-picker-light plugin</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/angular-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />

    <script type="text/javascript" src="javascripts/jquery.js"></script>

    <script type="text/javascript" src="javascripts/angular.js"></script>
    <script type="text/javascript" src="javascripts/moment.js"></script>
    <script type="text/javascript" src="javascripts/angular-datepicker-light.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>

    <style type="text/css">
        input[type=text].form-control {
            width: 100px;
        }

        div.date-picker-container-inline {
            margin-top: 3px;
        }

        div.date-target {
            width: 320px;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 10px 10px 10px;
            text-align: center;
            color: #191717;
            background-color: rgb(255, 248, 182);
        }
    </style>
</head>
<body ng-app="mainApp">
    <div class="content">

        <h1 class="title">AngularJS date-picker-light plugin</h1>
        <p>
            <code>npm install angular-datepicker-light</code> or <code>bower install angular-datepicker-light</code>
        </p>
        <div class="container-fluid">

            <div class="row">
                <div class="scenario">
                    <div ng-controller="OnFocusController as vm">
                        <h3>Example 1: Show on Focus</h3>
                        <div>
                            <input type="text"
                                   ng-model="vm.date"
                                   class="form-control"
                                   angular-date-picker="vm.datePickerOptions" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 300px">
                <div class="scenario">
                    <div ng-controller="InlineController as vm">
                        <h3>Example 2: Inline</h3>
                        <div>
                            <input type="text"
                                   ng-model="vm.date"
                                   class="form-control"
                                   angular-date-picker="vm.datePickerOptions" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="scenario">
                    <div ng-controller="InlineOtherMonthDatesController as vm">
                        <h3>Example 3: Show Dates from Other Months</h3>
                        <div>
                            <input type="text"
                                   ng-model="vm.date"
                                   class="form-control"
                                   angular-date-picker="vm.datePickerOptions" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="scenario">
                    <div ng-controller="InlineCustomWeekStartController as vm">
                        <h3>Example 4: Custom Week Start</h3>
                        <div>
                            <input type="text"
                                   ng-model="vm.date"
                                   class="form-control"
                                   angular-date-picker="vm.datePickerOptions" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="scenario">
                    <div ng-controller="InlineDisabledDatesController as vm">
                        <h3>Example 5: Disabled Dates</h3>
                        <div>
                            <input type="text"
                                   ng-model="vm.date"
                                   class="form-control"
                                   angular-date-picker="vm.datePickerOptions" />
                            <!--<div id="datePickerParent3" style="margin-top:3px;"></div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="scenario">
                    <div ng-controller="InlineDivTargetController as vm">
                        <h3>Example 6: &lt;Div&gt; Target Element</h3>
                        <div class="date-target" angular-date-picker="vm.datePickerOptions">
                            {{vm.date | date:'MM / dd / yyyy'}}
                        </div>
                    </div>
                </div>
            </div>

            <div style="height:200px">
            </div>
        </div>
    </div>
</body>
</html>